<!DOCTYPE html>
<html lang="hr-HR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUPK - @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SUPK.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="app-header bg-primary text-white py-3 mb-4">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a class="navbar-brand brand me-3 text-white" asp-area="" asp-controller="Home" asp-action="Index">SUPK</a>
                <div class="header-title">
                    <h1 class="h5 mb-0">Sustav za upravljanje stolovima i pozivanje konobara u kafiću</h1>
                </div>
            </div>

            <nav class="d-flex align-items-center">
                <a class="btn btn-outline-light btn-sm me-2" asp-area="" asp-controller="Proizvods" asp-action="Index">Proizvodi</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container py-3 text-center">
            <div>&copy; SUPK - 2026</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
